body{
    background-color: #0f121f;
    background-repeat: no-repeat;
    color: #fff;
}
.logos{
    float:left;
    width:40%;
    height:40%;
}
.form-control{
    border-radius:30px;
    padding: 5px;
}
.btnbtn{
    border-radius: 40px;
    background-color:#00dba0;
    border:none;
    padding:3px;
}
body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper > h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.photo{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.view1{
    padding: 5px;
    position: absolute;
    background-color:  #00dba0;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.photo h2{
    font-size: 1.2em;
}

.photo .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}
.view{
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
    animation-name: seepic;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes seepic {
    0%   {color: #0f121f;}
    25%  {color: #00dba0;}
    50%  {color: #0f121f; }
    75%  {color: #00dba0;}
    100% {color: #0f121f;}
  }


.photo-detail .photo{
    padding: 0;
}

.photo-detail  .photo img{
    max-width: 100%;
}

.photo-detail  .photo h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.photo-detail .photo p{
    text-align: center;
}

.photo-detail  .photo p{
    margin: 10px 20px
}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}
.head{
    font-family: 'Crimson Text', serif;
}
.owner{
    font-family: 'Chelsea Market', cursive;
}
.bodies{
    font-family: 'Handlee', cursive;
}
.others{
    font-family: 'Orbitron', sans-serif;
}
.others1{
    color: #00dba0;
    font-family: 'Baloo 2', cursive;
}
a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.signup{
    font-family: 'Baloo 2', cursive;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #FF5722;
    border-radius: 40px;
    margin: 10px;
    margin-right:50%;
    color: #FF5722
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #0f121f;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.back{
    float:right;
    background-color:#00dba0;
    color: #0f121f;
    border:none;
    padding-left:3px;
    padding-right: 3px;
}

/* SCROLL BAR STYLING*/
body::-webkit-scrollbar {
    width: 10px;
    background-color:#0f121f ;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #00dba0;
    border-radius: 30px;
  }

/* 404 page styling */
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.store-container {
  line-height:0;
  margin: 50px auto;
  width: 50%;
}
.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #0170bb 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}
.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}
.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}
#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}

