{% extends 'base_layout.html' %}

{% block content%}
<div class = "create-article">
    <h2>Post an Awesome New Photo</h2>
    <a class="back" href="{% url 'home' %}"><p style="color: #0f121f;">Back</p></a>
    <!--enctype encodes form data,always has to be where there's an upload field-->
    <form class="site-form" action="{% url 'photos:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="" value="create">
    </form>
</div>
<script src= "/assets/slugify.js"></script>
{% endblock %}