{% extends 'base_layout.html' %}

{% block content%}

<div class="col-sm-4 col-md-4 navbar-right">

    <form class="navbar-form" role="search" action="{% url 'photos:search_photos' %}">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by category" name="photo">
        </div>
        <br>
        <div class="input-group-btn">
            <button class="btnbtn" type="submit"><i class="glyphicon glyphicon-search">Search</i></button>
        </div>
    </form>
</div>

<h1 class="head">Photo List</h1>
<div class="photos">
   {% for photo in photos%}
    <div class= "photo">
      <h2><a class="head" href='{% url "photos:detail" slug=photo.slug %}'>{{photo.title}}</article></a></h2>
      <p class="bodies">{{photo.snippet}}</p>
      <p class= "others">{{photo.date}}</p>
      <a class="view" href='{% url "photos:detail" slug=photo.slug %}'>View pic</a>
      <p class="author">Added by : <span class='owner'> {{ photo.owner.username }}</span></p>
    </div>
   {% endfor %}
</div>

{% endblock %}