{% extends 'base_layout.html' %}

{% block content %}
<div class="photo-detail">

    <div class="photo">
        <img src="{{photo.thumb.url}}">
        <h2 class="head">{{photo.title}}</h2>
        <p class="bodies">{{photo.body}}</p>
        <p class="others">{{photo.date}}</p>
        <p class="others1">Location: {{photo.location}}</p>
        <p class="others1">Category : {{photo.category}}</p>
        <a class="view1" href="{% url 'home' %}"><p style="color: #0f121f;">Back</p></a>
        <a class=" view"  style=" background: #00dba0;"title="Copy image url " onclick="copy_Share_Button();"><i class="far fa-clipboard"></i></a>
        <script>
            function copy_Share_Button() {
                var sURL = window.location.href; //The actual address of the website
                sTemp = "<input id=\"copy_to_Clipboard\" value=\"" + sURL + "\" />"    //creates new input button   
                $("body").append(sTemp);//append as html child elements to the body element
                $("#copy_to_Clipboard").select();  
                document.execCommand("copy"); //system runs this command
                $("#copy_to_Clipboard").remove();               
            }       
        </script>

    </div>
</div>
{% endblock %}