{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <title> A.E Gallery </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Baloo+2:wght@500&family=Chelsea+Market&family=Crimson+Text:wght@600&family=Handlee&family=Indie+Flower&family=Orbitron:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'home' %}"><img src="{% static 'mylogo.png' %}" class='logos' alt="gallery" /></a></h1>
            <nav>
                <ul>
                  {%if user.is_authenticated %}    <!--Interchanges login/log out buttons depending on user's state-->
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">                          
                            {% csrf_token %}
                            <button type="submit" class="signup">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'photos:create' %} " class="highlight">Post photo</a></li>
                    {% else %}
                      <li><a href="{%url 'accounts:login' %}" class="signup">Login</a></li>
                      <li><a href="{%url 'accounts:signup' %}" class="signup">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
    </body>
</html>